{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="hs-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="nav-menu">
                            <ul>
                                <li><a href="{% url 'home' %}">Acceuil</a></li>
                                <li><a href="{% url 'properties' %}">Propriétés</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'appartments' %}">Appartements</a></li>
                                        <li><a href="{% url 'houses' %}">Maisons</a></li>
                                        <li><a href="{% url 'offices' %}">Bureaux</a></li>
                                        <li><a href="{% url 'terrains' %}">Terrains</a></li>
                                        <li><a href="{% url 'publish' %}">Publier</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'rent' %}">Louer</a></li>
                                <li><a href="{% url 'buy' %}">Acheter</a></li>
                                <li><a href="{% url 'publish' %}">Vendre</a></li>
                                <li><a href="{% url 'favorites' %}">Favoris</a></li>
                                <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="hn-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="{% static 'website/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>Contactez-nous!</h4>
                        <div class="bt-option">
                            <a href="{% url 'home' %}"><i class="fa fa-home"></i> Acceuil</a>
                            <span>Contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Form Section Begin -->
    <section class="contact-form-section spad">
        <div class="site-section">
          <div class="container">
            <div class="row">

              <div class="col-md-12 col-lg-8 mb-5">

                <center>
                  <div class = "col-md-8">
                    {% if messages %}
                      {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                          {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}

                  </div>
                </center>

                <form method="POST" class="p-5 box-element">
                  {% csrf_token %}
                  <legend><h3>Ecrivez-nous maintenant!</h3></legend>
                  <br>
                  <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                      {{ form|crispy }}
                    </div>
                  </div>
                  <div class = "form-group">
                    <button class = "btn btn-danger" type="submit">Envoyez</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>
    </section>
    <!-- Contact Form Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-info">
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="ci-text">
                                <h5>Adresse</h5>
                                <p>19 Comité-urbain, Lemera, Gombe, Kinshasa - RDC</p>
                            </div>
                        </div>
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <h5>Phone</h5>
                                <ul>
                                    <li>+243 85 000 6218</li>
                                    <li>+243 81 583 60 68</li>
                                </ul>
                            </div>
                        </div>
                        <div class="ci-item">
                            <div class="ci-icon">
                                <i class="fa fa-headphones"></i>
                            </div>
                            <div class="ci-text">
                                <h5>Support</h5>
                                <p>contact@blissfullhomes.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--
        <div class="cs-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd"
                height="450" style="border:0;" allowfullscreen=""></iframe>
        </div>-->
    </section>
    <!-- Contact Section End -->
{% endblock %}